@using Northwind.Models
@model Discount

<!-- validation does need to be looked at. I don't think it's behaving as it should -->
<h1>Edit Discount</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <div class="form-group" style="display: none;">
        <input asp-for="@Model.DiscountID" class="form-control" value="@Model.DiscountID" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StartTime">Start Time</label>
        <input asp-for="@Model.StartTime" class="form-control" type="date" placeholder="@Model.StartTime" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndTime">End Time</label>
        <input asp-for="@Model.EndTime" class="form-control" type="date" placeholder="@Model.EndTime" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ProductID">Product</label>
        <select asp-for="@Model.ProductID"
            asp-items='@(new SelectList(ViewBag.Products, "ProductId", "ProductName"))'></select>

    </div>
    <div class="form-group">
        <label asp-for="@Model.DiscountPercent">Discount Percentage</label>
        <input asp-for="@Model.DiscountPercent" class="form-control" type="number" value="0" min="0" max="1" step="0.1"
            placeholder="@Model.DiscountPercent" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Title">Title</label>
        <input asp-for="@Model.Title" class="form-control" placeholder="@Model.Title" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" class="form-control" placeholder="@Model.Title" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Save Edit</button>
</form>
